
/* Algemene instellingen voor de header */

header {
  padding: 20px 10px;
  background-color: #f8f9fa; /* Lichte achtergrondkleur voor de header */
  border-bottom: 1px solid #dee2e6; /* Lichte rand onder de header */
  display: flex;
  justify-content: center; /* Centreer de inhoud horizontaal */
  align-items: center; /* Centreer de inhoud verticaal */
}
.annotated-line {
  border: 2px solid #646061; /* Kleur van de rand (blauw) */
  border-radius: 5px;        /* Ronde hoeken voor een zachtere uitstraling */
  padding: 10px;       /* Ruimte binnen de rand */
  
  margin: 10px 0;            /* Ruimte boven en onder de regel */
  position: relative;        /* Zorgt ervoor dat de pseudo-elementen relatief aan dit element worden geplaatst */
}
.annotated-line:hover {
  border-color: #556e89; /* Blauwe kleur bij hover */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); /* Lichte schaduw bij hover */
}
.annotation--rule-applied {
  border-color: green ; 
  border-width: 2px; 
  
  &.annotation--start::before {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &.annotation--end::before {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  &::before {
    border-top: 2px solid green; 
    border-bottom: 2px solid green; 
  }

  &.annotation--start::before {
    border-left: 2px solid green; 
  }

  &.annotation--end::before {
    border-right: 2px solid green;
  }
}
.annotation-original {
  background-color: rgb(127, 130, 127);
}
/* Container voor de checkboxes */
.checkbox-container {
  display: flex;
  flex-wrap: wrap; /* Zorg ervoor dat de checkboxes naar de volgende regel verplaatsen indien nodig */
  gap: 15px; /* Ruimte tussen de checkboxes */
}

/* Stijl voor de checkbox zelf */
.checkbox-container input {
  accent-color: #007bff; /* Standaard blauwe kleur voor checkboxes */
  margin-right: 8px;
  transform: scale(1.2); /* Maakt de checkbox iets groter */
  cursor: pointer;
}

.texts-container {
  display: flex;
  justify-content: space-between;
}

.text-column {
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
}
.annotation-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}
.annotation-actions button {
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.annotation-actions .icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtiele schaduw */
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}
.primary-button {
  background-color: #575d60; /* Groen voor bevestigen */
  color: white;
  border: 2px;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.secondary-button {
  background-color: #c62737; /* Rood voor annuleren */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.action-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}
.annotated-line {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.annotation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.annotation-actions {
  display: flex;
  gap: 10px;
}
